
.LandingPage{
   display: flex;
 
}

.sub_lp{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 200px;
    align-items: center;
    margin-top: 100px;
}

.logoimage{
    margin: 10px;
}

.lpcontainer1{
    background-color: rgb(237, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 200px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(128, 124, 124);
    transition: .5s;
}

.lpcontainer1 a{
    text-decoration: none;
    font-size: 20px;
}

.lpcontainer1:hover{
    background-color: rgb(245, 47, 47);;
    transform: scale(1.1);
}

#logotext{
    color: black;
    font-size: 35px;
    transition: .5s;
}

#logotext:hover{
    transform: scale(1.1);
}

#i1{
    height: 100px;
    width: 100px;
}
#i2{
    height: 100px;
    width: 100px;
}